openpyxl>=3.0.3
pyqt5>=5.1.14
faker>=4.0.2
Appium-Python-Client>=0.50
beautifulsoup4==4.8.2
browsermob-proxy>=0.8.0
dataclasses>=0.6
dataclasses-json>=0.4.2
gevent>=1.5.0
lxml>=4.5.0
Pillow>=7.1.2
pyperclip>=1.8.0
pluggy>=0.13.1
requests>=2.23.0
requests-toolbelt>=0.9.1
schwifty>=2020.5.2
selenium>=3.141.0
SQLAlchemy>=1.3.13
urllib3>=1.25.7
xl2dict>=0.1.5
xlrd>=1.2.0
XlsxWriter>=1.2.7

