{% extends "base.html" %}

{% block title %}
    {{ testrun.name }}
{% endblock %}

{% block content %}
    <h1>{{ testrun.name }}</h1>
    <div>{{ testrun.description }}</div>
    

    <ul>
        {% for testrun in testruns %}
        <li>
            {{ testrun.id }}: {{ testrun.name }}
            (created by {{ testrun.get_createdBy().username }}
            on {{ testrun.created.strftime('%Y-%m-%d %H:%M')}})
            <ul>
                {% for seq in testrun.testcase_sequences %}
                    <li>{{ seq.name }}</li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>

{% endblock %}
