body {
  min-width: 420px;
}

.chip {
  display: inline-block;
  padding: 0 10px;
  height: 30px;
  font-size: 16px;
  /*line-height: 50px;*/
  border-radius: 15px;
  background-color: #f1f1f1;
}

.closebtn {
  padding-left: 10px;
  color: #888;
  font-weight: bold;
  float: right;
  font-size: 20px;
  cursor: pointer;
}

.closebtn:hover {
  color: #000;
}

.fixed-label {
  width: 11rem;
}

.text-break {
  word-wrap: break-word;
}


/* widths */
.w-20 {
  width: 20%;
}

.w-40 {
  width: 40%;
}

.w-60 {
  width: 60%;
}

.w-80 {
  width: 80%;
}