{% extends "base.html" %}

{% block title %}
    Testruns
{% endblock %}

{% block content %}
<div class="container-fluid mt-5">
<div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
            <ul class="nav flex-column my-3">
                <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#Testruns">
                        Testruns                        </a>
                    <div class="collapse" id="Testruns">
                        <a class="btn btn-primary btn-sm ml-4" data-type="testrun" href="#">Create New Testrun</a>
                        {% for item in items.testruns %}
                            <a class="dropdown-item" data-type="testrun" data-id="{{ item.id }}" href="">{{ item }}</a>
                        {% endfor %}
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#TestCaseSequences">
                        Test Case Sequences
                    </a>
                    <div class="collapse" id="TestCaseSequences">
                        <a class="btn btn-primary btn-sm ml-4" data-type="testcase_sequence" href="#">Create New Test Case Sequence</a>
                        {% for item in items.testcase_sequances %}
                            <a class="dropdown-item" data-type="testcase_sequence" data-id="{{ item.id }}" href="">{{ item }}</a>
                        {% endfor %}
                    </div>
                </li>
                <!-- DataFile excludded
                <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#DataFiles">
                        Data Files
                    </a>
                    <div class="collapse" id="DataFiles">
                        {% for item in items.datafiles %}
                            <a class="dropdown-item" data-type="datafile" data-id="{{ item.id }}" href="">{{ item }}</a>
                        {% endfor %}
                    </div>
                </li>
            -->
                <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#TestCases">
                        Test Cases
                    <div class="collapse" id="TestCases">
                        <a class="btn btn-primary btn-sm ml-4" data-type="testcase" href="#">Create New Test Case</a>
                        {% for item in items.testcases %}
                            <a class="dropdown-item" data-type="testcase" data-id="{{ item.id }}" href="">{{ item }}</a>
                        {% endfor %}
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#TestStepSequences">
                        Test Step Sequences
                    </a>
                    <div class="collapse" id="TestStepSequences">
                        <a class="btn btn-primary btn-sm ml-4" data-type="teststep_sequence" href="#">Create New Test Step Sequence</a>
                        {% for item in items.teststep_sequences %}
                            <a class="dropdown-item" data-type="teststep_sequence" data-id="{{ item.id }}" href="">{{ item }}</a>
                        {% endfor %}
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#TestSteps">
                        Test Steps
                    </a>
                    <div class="collapse" id="TestSteps">
                        <a class="btn btn-primary btn-sm ml-4" data-type="teststep" href="#">Create New Test Step</a>
                        {% for item in items.teststeps %}
                            <a class="dropdown-item" data-type="teststep" data-id="{{ item.id }}" href="">{{ item }}</a>
                        {% endfor %}
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">

            <h1 class="border-bottom py-2">Select an item</h1>

    </main>
</div>
</div>

<!-- Load local JS -->
<script src="{{ url_for('static', filename='testrun.js') }}"></script>

{% endblock %}
