{% extends "base.html" %}

{% block title %}
    Create {{ type|name_by_type(False) }}
{% endblock %}

{% block content %}

<main>

<!-- bread crumb -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/{{ type }}">{{ type|name_by_type }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">New</li>
    </ol>
</nav>

<!-- flash messages -->
{% with messages = get_flashed_messages(with_categories=true) %}
    {% for category, msg in messages %}
        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
            {{ msg }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
{% endwith %}

<div class="container mt-5">
    <div class="border-bottom pt-3">
        <h1 >Create new {{ type|name_by_type(False) }}</h1>
    </div>

    <form class="pr-5" method="post" onsubmit="get_chips()" action="/{{ type }}/new">
        {{ form.hidden_tag() }}

        {% for field in form %}
            {% if field.name != "csrf_token" %}
            
            <!-- error message -->
            {% for error in field.errors %}
                <p class="text-danger">{{ error }}</p>
            {% endfor %}
            
            <div class="input-group my-3">
                <div class="input-group-prepend">
                    {{ field.label(class="input-group-text fixed-label") }}
                </div>

                {% if field.name in chips %}
                <!-- choices for chips -->
                    <select class="form-control multyselect" id="{{ field.name }}" name="{{ field.name }}"
                    onchange="add_chip(this, '{{ field.name }}')">
                        <option value="0" select="">&lt; Select &gt;</option>
                        {% for option in field.choices %}
                            <option value="{{ option.0 }}">
                                {{ option.1 }}
                            </option>
                        {% endfor %}
                    </select>
                
                {% else %}
                <!-- other fields -->
                    {{ field(class="form-control") }}
                {% endif %}
            </div>

            <!-- chips area -->
            {% if field.name in chips %}
                <div id="chips_{{ field.name }}">
                </div>
            {% endif %}
            {% endif %}

        {% endfor %}

        <p>
            <button class="btn btn-primary px-5 my-3" type="submit">Create</button>
        </p>
    </form>
</div>

</main>

{% endblock %}