
<!-- bread crumb -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/{{ type }}">{{ type|name_by_type }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ item.name }}</li>
    </ol>
</nav>

<!-- flash messages -->
{% with messages = get_flashed_messages(with_categories=true) %}
    {% for category, msg in messages %}
        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
            {{ msg }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
{% endwith %}

<div class="container mt-5">
    <div class="border-bottom pt-3">
        <h1 >Edit '{{ item.name }}'</h1>
    </div>

    <form class="pr-5" method="post" action="/{{ type }}/{{ item.id }}/edit">
        {{ form.hidden_tag() }}

        {% for field in form %}
            {% if field.name != "csrf_token" %}
            <div class="input-group my-3">
                {% for error in field.errors %}
                    <p class="text-danger">{{ error }}</p>
                {% endfor %}
                <div class="input-group-prepend">
                    {{ field.label(class="input-group-text") }}
                </div>
                {{ field(class="form-control", value=field.data)}}
            </div>
            {% endif %}
        {% endfor %}

        {% if type == 'testrun' %}
        <div class="input-group my-3">
            <div class="input-group-prepend">
                {{ form.testcase_sequences.label(class="input-group-text") }}
            </div>
            <select class="form-control" id="testcase_sequences_2" name="testcase_sequences" onchange="add_chip(this)">
                <option select="">&lt; Select &gt;</option>
                {% for seq in form.testcase_sequences.choices %}
                <option value="{{ seq.0 }}" {% if seq.0 in form.testcase_sequences.data %}disabled{% endif %}>
                    {{ seq.1 }}
                </option>
                {% endfor %}
            </select>
        </div>

        <div id="testcaseSequences">
            {% for seq in form.testcase_sequences.choices if seq.0 in form.testcase_sequences.data %}
            <div class="chip mr-1" data-id="{{ seq.0 }}">
                <small>{{ seq.1 }}</small>
                <!--
                <span class="closebtn" onclick="this.parentElement.style.display='none'">&times;</span>
            -->
                <span class="closebtn" onclick="delete_chip(this.parentElement)">&times;</span>
            </div>
                <!--
        <button id="chipButton" type=button class="btn btn-default" onclick="deleteEntry({{ seq.0 }})">
            {{ seq.1 + ' x'}}
        </button>
    -->
            {% endfor %}
        </div>
        {% endif %}



        <p>
            <button class="btn btn-primary px-5 my-3" type="submit">Save</button>
        </p>
    </form>
</div>
