
<!-- bread crumb -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/{{ type }}">{{ type|name_by_type }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ item.name }}</li>
    </ol>
</nav>

<!-- flash messages -->
{% with messages = get_flashed_messages(with_categories=true) %}
    {% for category, msg in messages %}
        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
            {{ msg }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
{% endwith %}

<div class="container mt-5">
    <div class="border-bottom pt-3">
        <h1 >Edit '{{ item.name }}'</h1>
    </div>

    <form class="pr-5" method="post" onsubmit="save_item()" action="/{{ type }}/{{ item.id }}/edit">
        {{ form.hidden_tag() }}

        {% for field in form %}
            {% if field.name != "csrf_token" %}
            <div class="input-group my-3">
                {% for error in field.errors %}
                    <p class="text-danger">{{ error }}</p>
                {% endfor %}
                <div class="input-group-prepend">
                    {{ field.label(class="input-group-text") }}
                </div>




                
                {% if field.data is iterable and field.data is not string %}
                <!-- choices for chips -->
                    <select class="form-control multyselect" id="{{ field.name }}" name="{{ field.name }}"
                    onchange="add_chip(this, '{{ field.name }}')">
                        <option value="0" select="">&lt; Select &gt;</option>
                        {% for option in field.choices %}
                            <option value="{{ option.0 }}" {% if option.0 in field.data %}disabled{% endif %}>
                                {{ option.1 }}
                            </option>
                        {% endfor %}
                    </select>
                
                {% else %}
                <!-- other fields -->
                    {{ field(class="form-control", value=field.data) }}
                {% endif %}
            </div>

            <!-- chips -->
            {% if field.data is iterable and field.data is not string %}
                <div id="chips_{{ field.name }}">
                    {% for option in field.choices if option.0 in field.data %}
                        <div class="chip mr-1" data-id="{{ option.0 }}">
                            <small>{{ option.1 }}</small>
                            <span class="closebtn" onclick="delete_chip(this.parentElement, '{{ field.name }}')">&times;</span>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            {% endif %}

        {% endfor %}

        



        <p>
            <button class="btn btn-primary px-5 my-3" type="submit">Save</button>
        </p>
    </form>
</div>
