{% extends "base.html" %}

{% block title %}
    Home
{% endblock %}

{% block content %}

<!-- bread crumb -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Home</li>
    </ol>
</nav>

<!-- flash messages -->
{% with messages = get_flashed_messages(with_categories=true) %}
    {% for category, msg in messages %}
        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
            {{ msg }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
{% endwith %}

<!-- item list -->
<div class="container mt-5">
    <div class="row">
        <div class="list-group col-12">
            {% for category, item_list in items.items() %}
                <!-- header -->
                <p class="list-group-item active h4">{{ category|name_by_type }}</p>
                
                <!-- items -->
                {% for item in item_list %}
                    <a class="list-group-item list-group-item-action h5" href="/{{ item }}">{{ item|name_by_type }}</a>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
