{% extends "base.html" %}

{% block title %}
    {{ type|name_by_type }}
{% endblock %}

{% block content %}

<main>

<!-- bread crumb -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ type|name_by_type }}</li>
    </ol>
</nav>

<!-- flash messages -->
{% with messages = get_flashed_messages(with_categories=true) %}
    {% for category, msg in messages %}
        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
            {{ msg }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
{% endwith %}

<!-- item list -->
<div class="container mt-5">

    <!-- item title -->
    <div class="row">
        <div class="col-md-9">
            <h2>{{ type|name_by_type }}</h2>
        </div>
        <!-- create button -->
        <div class="col-md-3">
            <a class="btn btn-primary" href="/{{ type }}/new" role="button">
                <strong>&plus; </strong>new {{ type|name_by_type(False) }}
            </a>
        </div>
    </div>

    <!-- filter box -->
    <div class="row mb-3">
        <input type="text" id="filter" placeholder="Search..." onkeyup="filter_items(this)">
    </div>

    <!-- header -->
    <div class="row border-top border-bottom py-3">
        <div class="col-md-4"><strong>Name</strong></div>

        <!-- Test Step fields -->
        {% if type == 'teststep' %}
            <div class="col-md-5"><strong>Description</strong></div>
            <div class="col"><strong>Activity Type</strong></div>
        {% else %}
            <div class="col-md-3"><strong>Created By</strong></div>
            <div class="col"><strong>Created</strong></div>
        {% endif %}
    </div>

    <!-- item list -->
    {% for item in items %}
        <div class="row border-top py-3 testrun-item">
            <div class="col-md-4 text-break">
                <a class="filtered" data-toggle="collapse" href="#item{{ item.id }}" aria-expanded="false">
                    {{ item.name }}
                </a>
            </div>
            {% if type == 'teststep' %}
                <div class="filtered col-md-5 text-break text-break">{{ item.description }}</div>
                <div class="filtered col">{{ item.activity_type }}</div>
            {% else %}
                <div class="filtered col-md-3">{{ item.creator.username }}</div>
                <div class="col">{{ item.created|time }}</div>
            {% endif %}

            <div class="col-12 collapse mt-1" id="item{{ item.id }}">
                <!-- created data -->
                {% if type == 'teststep' %}
                    <p><small>
                        Created {{ item.created|time }} by {{ item.creator }}
                    </small></p>
                {% endif %}
                <!-- edited data -->
                {% if item.edited %}
                    <p><small>
                        Last edidted {{ item.edited|time }} by {{ item.editor }}
                    </small></p>
                {% endif %}

                <ul class="list-group">

                    <!-- description -->
                    {% if not type == 'teststep' %}
                        <li class="list-group-item h5 list-group-item-dark">Description</li>
                        <li class="list-group-item">{{ item.description }}</li>
                    {% endif %}

                    <!-- Testrun fields -->
                    {% if type == 'testrun' %}

                    <li class="list-group-item h5 list-group-item-dark">{{ 'testcase_sequence'|name_by_type }}</li>
                    {% if item.testcase_sequences %}
                        {% for sequence in item.testcase_sequences %}
                        <li class="list-group-item">{{ sequence }}</li>
                        {% endfor %}
                    {% else %}
                        <li class="list-group-item">No Test Case Sequence Defined</li>
                    {% endif %}

                    {% endif %}

                    <!-- Class Name -->
                    {% if type == 'testcase_sequence' or type == 'testcase' or type == 'teststep_sequences' %}

                    <li class="list-group-item h5 list-group-item-dark">Class Name</li>
                    <li class="list-group-item">{{ item.classname }}</li>
                    
                    {% endif %}

                    <!-- Testcase Sequence fields -->
                    {% if type == 'testcase_sequence' %}

                    <li class="list-group-item h5 list-group-item-dark">Data Files</li>
                    {% if item.datafiles %}
                        {% for datafile in item.datafiles %}
                        <li class="list-group-item">{{ datafile }}</li>
                        {% endfor %}
                    {% else %}
                        <li class="list-group-item">No Data File Defined</li>
                    {% endif %}

                    <li class="list-group-item h5 list-group-item-dark">{{ 'testcase'|name_by_type }}</li>
                    {% if item.testcases %}
                        {% for testcase in item.testcases %}
                        <li class="list-group-item">{{ testcase }}</li>
                        {% endfor %}
                    {% else %}
                        <li class="list-group-item">No Test Case Defined</li>
                    {% endif %}

                    {% endif %}

                    <!-- Test Case fields -->
                    {% if type == 'testcase' %}

                    <li class="list-group-item h5 list-group-item-dark">Browser Type</li>
                    <li class="list-group-item">{{ item.browser_type }}</li>

                    <li class="list-group-item h5 list-group-item-dark">Test Case Type</li>
                    <li class="list-group-item">{{ item.testcase_type }}</li>

                    <li class="list-group-item h5 list-group-item-dark">{{ 'teststep_sequence'|name_by_type }}</li>
                    {% if item.teststep_sequences %}
                        {% for sequence in item.teststep_sequences %}
                        <li class="list-group-item">{{ sequence }}</li>
                        {% endfor %}
                    {% else %}
                        <li class="list-group-item">No Test Case Step Sequence Defined</li>
                    {% endif %}

                    {% endif %}

                    <!-- Test Step Sequence fields -->
                    {% if type == 'teststep_sequence' %}

                    <li class="list-group-item h5 list-group-item-dark">{{ 'teststep'|name_by_type }}</li>
                    {% if item.teststeps %}
                        {% for step in item.teststeps %}
                        <li class="list-group-item">{{ step }}</li>
                        {% endfor %}
                    {% else %}
                        <li class="list-group-item">No Test Step Defined</li>
                    {% endif %}

                    {% endif %}

                    <!-- Test Step fields -->
                    {% if type == 'teststep' %}
                    <li class="list-group-item h5 list-group-item-dark">Parameters</li>
                    <li class="list-group-item">
                        <!-- 
                        <div class="row border-bottom py-2">
                            <div class="col-md-3">
                                <strong>Activity Type</strong>
                            </div>
                            <div class="col">
                                {{ item.activity_type }}
                            </div>
                        </div>
                        -->

                        <!-- Valu/Comparision -->
                        <div class="row py-2">
                            <div class="col-md-2">
                                <strong>Value</strong>
                            </div>
                            <div class="col-md-2">
                                <strong>Comparision</strong>
                            </div>
                            <div class="col-md-2">
                                <strong>Value 2</strong>
                            </div>
                        </div>

                        <div class="row border-bottom py-2">
                            <div class="col-md-2">
                                {{ item.value }}
                            </div>
                            <div class="col-md-2">
                                {{ item.comparision }}
                            </div>
                            <div class="col-md-2">
                                {{ item.value2 }}
                            </div>
                        </div>

                        <!-- others -->
                        <div class="row border-bottom py-2">
                            <div class="col-md-3">
                                <strong>Locator Type</strong>
                            </div>
                            <div class="col-md-9">
                                {{ item.locator_type }}
                            </div>
                        </div>

                        <div class="row border-bottom py-2">
                            <div class="col-md-3">
                                <strong>Locator</strong>
                            </div>
                            <div class="col-md-9">
                                {% if item.timeout %}{{ item.locator }}{% endif %}
                            </div>
                        </div>


                        <div class="row border-bottom py-2">
                            <div class="col-md-3">
                                <strong>Optional</strong>
                            </div>
                            <div class="col-md-9">
                                {{ item.optional }}
                            </div>
                        </div>

                        <div class="row border-bottom py-2">
                            <div class="col-md-3">
                                <strong>Timeout</strong>
                            </div>
                            <div class="col-md-9">
                                {% if item.timeout %}{{ item.timeout }}{% endif %}
                            </div>
                        </div>

                        <div class="row border-bottom py-2">
                            <div class="col-md-3">
                                <strong>Release</strong>
                            </div>
                            <div class="col-md-9">
                                {% if item.release %}{{ item.release }}{% endif %}
                            </div>
                        </div>
                    </li>

                    {% endif %}

                </ul>
                
                <!-- buttons -->
                <p>
                    <a class="btn btn-primary px-5 my-3 mr-3" href="/{{ type }}/{{ item.id }}/edit" role="button">Edit</a>
                    <button class="btn btn-danger px-5 my-3" onclick="delete_item('{{ type }}', '{{ item.name}}', '{{ item.id }}')">
                        Delete
                    </button>
                </p>
               
            </div>
        </div>
    {% endfor %}



</div>
</main>


{% endblock %}
