{% extends "base.html" %}

{% block title %}
Login
{% endblock %}

{% block content %}
<div class="d-flex flex-column text-center mt-5">
	<h1 class="py-5">Please Login</h1>
	
	<!-- login form -->
	<form method="post">
		{{ form.hidden_tag() }}

		<p>
			{% for error in form.username.errors %}
				<p class="text-danger">{{ error }}</p>
			{% endfor %}
			{{ form.username(placeholder="Username") }}
		</p>
		<p>
			{% for error in form.password.errors %}
				<p class="text-danger">{{ error }}</p>
			{% endfor %}
			{{ form.password(placeholder="Password") }}
		</p>
		<p>
			<button class="btn btn-primary px-5" type="submit">Login</button>
		</p>
	</form>

	<div class="mt-2">
		Not registered yet? <a href="/signup">Sign up here</a>
	</div>

</div>

{% endblock %}